# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/asottile/pyupgrade
      rev: v2.32.0
      hooks:
          - id: pyupgrade
            args: [--py39-plus]
    - repo: https://github.com/hadialqattan/pycln
      rev: v1.3.1
      hooks:
          - id: pycln
    - repo: https://github.com/PyCQA/isort
      rev: 5.10.1
      hooks:
          - id: isort
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.2.0
      hooks:
          - id: trailing-whitespace
            exclude: .bumpversion.cfg
          - id: end-of-file-fixer
          - id: check-json
          - id: check-yaml
          - id: check-added-large-files
    - repo: https://github.com/PyCQA/flake8
      rev: 4.0.1
      hooks:
          - id: flake8
    - repo: https://github.com/psf/black
      rev: 22.3.0
      hooks:
          - id: black
    - repo: https://github.com/kumaraditya303/mirrors-pyright
      rev: v1.1.239
      hooks:
          - id: pyright
