backports.entry-points-selectable==1.1.1
bump2version==1.0.1
cfgv==3.3.1
charset-normalizer==2.0.12
distlib==0.3.4
filelock==3.7.1
identify==2.5.1
nodeenv==1.7.0
platformdirs==2.5.2
pre-commit==2.19.0
pytest==7.1.2
PyYAML==6.0
responses==0.21.0
six==1.16.0
toml==0.10.2
virtualenv==20.14.1

-r requirements.txt
