# This is a basic workflow to help you get started with Actions

name: Run Tests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  CACHE_VERSION: 1
  DEFAULT_PYTHON: 3.13
  PRE_COMMIT_CACHE: ~/.cache/pre-commit

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - name: Set up Python
        run: uv python install ${{ env.DEFAULT_PYTHON }}
      - name: Install dependencies
        run: uv sync --group dev
      - name: Restore pre-commit environment from cache
        id: cache-precommit
        uses: actions/cache@v5.0.1
        with:
          path: ${{ env.PRE_COMMIT_CACHE }}
          key: >-
            ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Install pre-commit dependencies
        if: steps.cache-precommit.outputs.cache-hit != 'true'
        run: uv run pre-commit install-hooks
      - name: Run pre-commit
        run: uv run pre-commit run --hook-stage manual --all-files --show-diff-on-failure
      - name: Run unit-tests
        run: uv run pytest --cov --cov-config=tox.ini --cov-report=term --cov-report=html
      - uses: actions/upload-artifact@v6
        with:
          name: test-coverage
          path: htmlcov
